body {
  background-color: black;
  color: aliceblue;
}

p {
  color: aliceblue;
}

button {
  width: 50px;
  height: 50px;
}

ul {
  padding: 30px;
  border: 1px solid red;
}
li {
  list-style-type: none;
  margin-bottom: 20px;
  border: 1px dashed black;
}
tr {
  border: 3px solid yellow;
}
td {
  width: 50px;
  height: 50px;
  border: 1px solid white;
}
.hidden {
  display: none;
}
