.Header {
  display: flex;
  font-size: 23px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 24, 27);
  color: white;
  height: 56px;
}

.promptik {
  width: 380px;
  height: 380px;
  background-color: white;
  color: black;
}
button {
  width: 130px;
  height: 30px;
}

.bits {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  outline: none;
  background-color: rgb(58, 58, 61);
  color: white;
}

.header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.1;
}

.header_right {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.1;
}

.icon_main {
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 5px;
}

.icon {
  height: 18px;
  width: 18px;
  fill: aqua;
}

.icon_main:hover {
  background-color: grey;
}

h4:hover {
  color: aqua;
}

button:hover {
  background-color: rgb(70, 70, 73);
}

.Input {
  border: solid grey;
  font-size: 20px;
  width: 359px;
  height: 33px;
  background-color: dimgray;
  border-radius: 10px;
  color: white;
}

input:focus {
  outline: none;
  border-color: aqua;
  background-color: black;
}

::placeholder {
  color: white;
  padding: 10px;
  font-size: 15px;
}
