h1 {
  padding-top: 40px;
  text-align: center;
  color: Aqua;
}

.easy {
  text-decoration: line-through;
}

.add {
  text-align: center;
}


.addb {
  color: black;
  background-color: Aqua;
}

.alert {
  display: grid;
  border: 3px solid
}
